body {
  /* background-color: #14131A; */
  color: white;
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.blood {
  background: url('../img/blood.png') no-repeat top right / 60%,
  rgb(20, 19, 26, 1) url('../img/background.png') no-repeat top center / 100%;
}
.container {
  max-width: 1140px;
  width: 90%; /* Заполнение страници только на 90%  */
  margin: auto;
}
.logo-link {
   display: inline-block;
   margin-right: 50px;
}
.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu-close {
  display: none;
}
.nav-menu-item {
  margin-right: 30px;
}
.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.date {
  display: block;
  margin-bottom: 3%;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.hero-description {
  margin-top: 3%;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
}
.button-group {
  margin-top: 5%; /* 5% от ширины экрана */
}
.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button-text, .button-icon {
  display: inline-block;
  vertical-align: middle;
}
.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.button-primary {
  color: #8D0019;
  background-color: white;
}
.button-link {
  color: #FFFFFF;
}
.film-logo {
  width: 75%;
}
.venom {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 728px; /* Картинка не будет больше 728px */
  width: 50%;  /*  Картинка будет иметь размер 50% относительно ширины экрана  */
}
.button-menu {
  display: none;
}




/*  about.html  */
.about-bg {
   background: rgb(20, 19, 26, 1) url('../img/background.png') no-repeat top center / 100%;
}
.content {
  display: flex;
}
.col {
  flex-basis: 50%;
}
.content-title {
  font-size: 36px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.content-text {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
  margin-bottom: 30px;
}
.content-subtitle {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0px;
  margin-bottom: 15px;
}

.content .list {  /* Все .list находящихся в .content */
  list-style: none;
  padding: 0;
}

.column-2 {
  -webkit-column-count: 2;   /* -webkit-: браузеры Chrome, Safari, Opera; */
  -moz-column-count: 2;  /* -moz-: браузер Mozilla Firefox; */
  column-count: 2;    /* Делит список на две части */
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px; /* определяет расстояние в пикселях между столбцами: */
  max-width: 350px;
}

.list-item {
  font-size: 16px;
  line-height: 140%; /* устанавливает  межстрочный интервал , % берется высоты шрифта. */
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap; /* Слова не переносятся */
/*   line-height: 1.5; /*  устанавливает полуторный межстрочный интервал */ */
}

.content .trailer {
  max-width: 356px;
  height: 205px;
  background: url('../img/trailer.jpg') no-repeat center / contain;
  border-radius: 5px;
  margin-top: 33px;
  /* Выравниваем весь внутрений контент по центру (в данном случае Конпку) */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.trailer .play {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  /* Выравниваем весь внутрений контент по центру (в данном случае иконку) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-wrapper {
  display: flex;
  align-items: start;
}

.poster {
  max-width: 362px;
  width: 100%;
  border-radius: 5px;
  margin-right: 30px;
}

.poster-wrapper .content-subtitle {
  margin-bottom: 5px;
}
.poster-wrapper .list {
  margin-top: 0;
  margin-bottom: 20px;
}


/* Адаптив */
@media (max-width: 1065px) {
  .content {
    flex-direction: column;
  }
  .col {
    margin-bottom: 5%;
  }
  .about .header {
    margin-bottom: 5%;
  }
}
@media (max-width: 760px) {
  .blood {
    background: #14131A
  }

  .venom {
    top: 15%;
    position: fixed;

  }
}

@media (max-width: 650px) {
  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 1s;
  }
  .nav-menu-link {
    color: #14131A;
    
  }
  .nav-menu-item {
    margin: 5% 0;
  }
  .nav {
    margin-left: auto;
  }
  .menu-close {
    position: fixed;
    right: 25px;
    top: 65px;
    display: flex;
    align-items: center;
    z-index: 11;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translateX(200%);
    transition: transform 1s;
  }
  .is-activ {
    transform:translateX(0);
  }
  .button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .menu-close-text, .menu-button-text {
    margin-right: 10px;
  }
  .hero {
    text-align: center;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .button-link {
    margin-top: 3%;
  }
  .yers {
    display: block;
  }

  /* about */
  .poster {
    margin-bottom: 5%;
    margin-right: 0;
  }
  .poster-wrapper {
    flex-direction: column;
    padding-bottom: 5%;
  }
  .column-2 {
    column-count: 1;
  }
}